{{- if not .Values.velero.credentials.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: velero-oci-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: velero
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
stringData:
  cloud: |
    [default]
    aws_access_key_id={{ .Values.oci.accessKeyId | default "REPLACE_WITH_ACCESS_KEY" }}
    aws_secret_access_key={{ .Values.oci.secretAccessKey | default "REPLACE_WITH_SECRET_KEY" }}
{{- end }}
