fastapi
fastapi-users[sqlalchemy]==12.1.2
uvicorn[standard]
gunicorn
slowapi
structlog
tenacity
prometheus-client
python-multipart
aio-pika
aioboto3
avro
pydantic-settings
redis
sqlalchemy
aiosqlite
asyncpg
requests
pytest
