apiVersion: v1
kind: Service
metadata:
  name: health-api
  namespace: {{ .Values.namespace }}
  labels:
    app: health-api
    app.kubernetes.io/name: health-api
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: api
    app.kubernetes.io/part-of: health-platform
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
    name: http
  selector:
    app: health-api
    app.kubernetes.io/name: health-api
    app.kubernetes.io/instance: {{ .Release.Name }}
